.navHolder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    background-color: black;
    justify-content: space-between;

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        h1{
            color:antiquewhite;
        }
    }

    .bars{
        display: none;

        .bar{  
            display: block;
            width: 25px;
            margin: 5px 0;
            background-color: black;
            height: 3px;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }
    }

    .bars.active .bar:nth-child(2) {
        opacity: 0;
      }
      
      .bars.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      .bars.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

      .links {
        display: flex;
        /* display: none; */
        // background-color: black;
        height: 50px;
        width: 50%;
        overflow: hidden;
        margin-left: -10px;
        align-items: center;
        justify-content: space-evenly;
        transition: height 0.2s, opacity 0.2s ease-in;

        a{
            text-decoration: none;
            color: antiquewhite;
        }
      }

      .links.active {
        height: 100vh;
        opacity: 1;
      }
}

@media screen and (max-width: 960px) {
    .navHolder .bars {
      display: block;
      position: fixed;
      right: 0;
    }

    .navHolder .logo {
        display: none;
    }
  
    .navHolder .links {
      height: 0;
      opacity: 0;
      flex-direction: column;
    }
  }